.DS_Store
.vscode/*
.idea/*
. MLtest/_build/*

# testing
/coverage

# production
/build
/_build
_build

frontend/.vercel
.frontend
frontend/.bsb.lock
frontend/.merlin
frontend/**/*.bs.js
frontend/node_modules/*

node_modules/*
# dependencies
backend/node_modules
frontend/node_modules
node_modules/

lib/
lib/*


frontend/node_modules
frontend/lib/*
frontend/lib/
frontend/.bsb.lock



ocaml-torch
*.cmt
MLtest/_build/default/.example.eobjs/byte/dune__exe.cmt
MLtest/_build/default/.example.eobjs/native/dune__exe.o
*.o

MLtest\_build
MLtest\_build\

MLtest/_build
MLtest/_build
MLtest/_build/

.coverage
*.cmi

_build
_build/ 
